body {
    min-width: 330px;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
    background-color: #ffffff;
    margin: 0
}

h5.user-name {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    position: relative;
}

h5.user-name::before {
    content: "";
    position: absolute;
    top: 7px;
    right: -25px;
    background: url(../img/drop_down.png) no-repeat;
    width: 12px;
    height: 5px;
}

ul span {
    width: 22px;
    margin-right: 12px;
}

li {
    list-style-type: none;
}


a {
    text-decoration: unset;
    color: #4c5bd4
}

p {
    color: #474747;
}

.page-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.form-control input, .table-container td input {
    width: 100%;
    height: 36px;
    color: #474747;
    font-size: 16px;
    line-height: 19px;
    padding: 9px 10px;
    border: 1px solid #666666;
}

.form-control input {
    border-radius: 8px;
}

.table-container td input {
    border-radius: 4px;
}

.table-container table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.date-input {
    background-image: url("/img/calendar.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px), 50%;
}

input[type=date] {
    padding: 9px;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    background-image: url("/img/calendar.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px), 50%;
    display: block;
    position: relative;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    margin: 0;
}

[aria-placeholder] {
    font-size: 16px;
    line-height: 19px;
}

label {
    margin-bottom: 5px;
    display: block;
}

input[disabled], input[readonly] {
    background-color: #EDEDED;
    cursor: not-allowed;
}

input.error {
    border-color: red;
}

textarea {
    width: 100%;
    height: 72px;
    font-size: 16px;
    line-height: 19px;
    padding: 9px 10px;
    border: 1px solid #666666;
    border-radius: 8px;
    resize: none;
}

textarea[placeholder] {
    color: #666666;
}

.modal textarea {
    resize: none;
}

.bordered {
    padding: 20px 16px 5px 16px;
    border: 1px solid #474747;
    border-radius: 8px;
}

.no-border {
    border: none !important;
}

.border-bottom {
    border-bottom: 1px solid #474747;
}

.border-top {
    border-top: 1px solid #666666;
}

.border-top2 {
    border-top: 1px solid rgba(102, 102, 102, 0.24);
}

.border-top-w {
    border-top: 1px solid #ffffff;
}

.border-bottom-w {
    border-bottom: 1px solid #ffffff;
}

.border-radius-4 {
    border-radius: 4px;
}

.d-none {
    display: none;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.spc-btw {
    justify-content: space-between;
}

.spc-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.w-5 {
    width: 5%;
}

.w-10 {
    width: 10%;
}

.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-55 {
    width: 55%;
}

.w-60 {
    width: 60%;
}

.w-65 {
    width: 65%;
}

.w-70 {
    width: 70%;
}

.w-75 {
    width: 75%;
}

.w-80 {
    width: 80%;
}

.w-85 {
    width: 85%;
}

.w-90 {
    width: 90%;
}

.w-95 {
    width: 95%;
}

.w-100 {
    width: 100%;
}

.right {
    float: right;
}

.left {
    float: left;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-500 {
    font-weight: 500;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-30 {
    padding-left: 30px;
}

.pr-5 {
    padding-right: 5px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-30 {
    padding-right: 30px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-45 {
    margin-top: 45px;
}

.mt-50 {
    margin-top: 50px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb_12 {
    margin-bottom: 12px;
}

.mb_15 {
    margin-bottom: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-40 {
    padding-bottom: 40px;
}

.text-red {
    color: #EB5757;
}

.text-blue {
    color: #4c5bd4;
}

.text-black {
    color: #474747;
}

.text-green {
    color: #219653;
}

.text-yellow {
    color: gold;
}

.link-text:hover, .remove-btn:hover {
    cursor: pointer;
}

.side-bar {
    position: fixed;
    z-index: 1;
    display: inline-block;
    width: 280px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
}

.side-bar::-webkit-scrollbar {
    display: none;
}

.side-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.container {
    width: calc(100% - 280px);
    float: right;
    margin-bottom: 148px;
}

.header {
    width: calc(100% - 194px);
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    padding: 10px;
    border-radius: 8px;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.chi_tiet_item {
    display: flex;
    align-items: center;
}

.content {
    width: calc(100% - 256px);
    width: -moz-calc(100% - 256px);
    width: -webkit-calc(100% - 256px);
    margin: 0 auto;
}

.logo {
    width: 168px;
    padding-top: 28px;
}

/*side bar*/

.side-bar {
    box-shadow: 0 4px 10px rgb(0 0 0 / 15%);
}

.menu {
    padding-top: 23px;
}

.side-bar .menu {
    width: 100%;
}

.side-bar ul {
    list-style-type: none;
}

.side-bar li {
    position: relative;
}

.side-bar li a {
    height: 52px;
    font-size: 16px;
    line-height: 19px;
    padding-left: 26px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-item a svg {
    cursor: pointer;
}

.side-bar li a:hover, .side-bar li a:hover {
    color: #fff;
    background: #2A38A2;
    border-radius: 20px 0 0 20px;
}

.side-bar li.active>a, .side-bar li.active>p {
    color: #fff;
    background: #2A38A2;
    border-radius: 20px 0 0 20px;
}

.side-bar .menu ul {
    display: none;
    list-style-type: none;
    padding-left: 3px;

}

.side-bar .menu ul.active {
    display: block !important;
}

#sub-menu1:before, #sub-menu2:before, #sub-menu3:before, #sub-menu4:before, #sub-menu5:before {
    content: "";
    width: 2px;
    left: 34px;
    top: 50px;
    background-color: #4C5BD4;
    position: absolute;
    display: block;
    z-index: 1;
}

#sub-menu1:before, #sub-menu2:before, #sub-menu5:before {
    height: 180px;
}

#sub-menu3:before, #sub-menu4:before {
    height: 134px;
}

.side-bar .menu ul li a:hover {
    background: none;
    color: #FFA800;
    z-index: 3;
    position: relative;
}

.side-bar .menu ul li a.active {
    background: none;
    color: #FFA800;
    z-index: 3;
    position: relative;
}

.logo-container, .header-container {
    display: flex;
    justify-content: center;
}

.header .header-left {
    font-size: 16px;
    line-height: 28px;
    padding-left: 20px;
    float: left;
    text-align: left;
}

.ic {
    padding: 0 10px;
}

.ic-user {
    content: url("/img/user.png");
}

.ic-pen {
    content: url("/img/edit.png");
}

.ic-warning {
    content: url("/img/warning.png");
}

.ic-logout {
    content: url("/img/logout.png");
}

.ic-question {
    margin-right: 10px;
    width: 36px;
    height: 36px;
}

.ic-chevron-left {
    padding: 35px 10px;
    content: url("/img/chevron-left.png");
}

.ic-chevron-right {
    padding: 35px 10px;
    content: url("/img/chevron-left.png");
    transform: rotate(180deg);
}

.ic-delete {
    cursor: pointer;
    content: url("/img/remove.png");
}

.ic-delete2, .xoa_tk_nh {
    cursor: pointer;
    content: url("/img/remove-2.png");
}

.delete-btn {
    border: none;
    background: none;
}

.removeItem2, .removeItem3, .xoa_tk_nh {
    position: absolute;
    right: 0;
}

.side-bar li .icon:hover {
    fill: white;
}

.nav-item {
    padding: 0 25px;
    position: relative;
    float: left;
}

.nav-avatar {
    float: left;
    padding: 0 15px;
}

.nav-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.nav-item .badge {
    width: 8px;
    height: 8px;
    position: absolute;
    top: 3px;
    right: 12px;
    padding: 4px;
    border-radius: 50%;
    background: #EB5757;
    color: #ffffff;
}

.c-top {
    width: 100%;
    margin-top: 49px;
    float: left;
}

.c-body {
    width: 100%;
    float: left;
}

.c-body:after {
    content: "";
    display: table;
    clear: both;
}

.c-foot {
    width: 100%;
    float: left;
}

.c-help {
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    position: relative;
    float: right;
}


/*table css*/

.table-wrapper {
    width: 100%;
    float: left;
    overflow-x: scroll;
    overflow-y: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #474747;
}

.table-wrapper tr:first-child {
    border-top: none;
}

.modal .table-wrapper {
    float: none;
}

.scr-wrapper::-webkit-scrollbar {
    display: none;
}
.bg-ed{
    background-color: #EDEDED;
}

.table-container {
    width: 100%;
    float: left;
}
.table-3900{
    min-width: 3900px;
}

.table-3192 {
    min-width: 3192px;
}

.table-2848 {
    min-width: 2848px;
}

.table-1896 {
    min-width: 1896px;
}

.table-1791 {
    min-width: 1791px;
}

.table-1532 {
    min-width: 1532px;
}

.table-2204 {
    min-width: 2204px;
}

.table-1428 {
    min-width: 1428px;
}

.table-1310 {
    min-width: 1310px;
}

.table-1252 {
    min-width: 1252px;
}

.table-988 {
    min-width: 988px;
}

.table-680 {
    min-width: 680px;
}

.table-1074 {
    min-width: 1074px;
}

.table_1928 {
    min-width: 1928px;
}

.table_1048 {
    min-width: 1048px;
}

.table_1457 {
    min-width: 1457px;
}

.tbl-header {
    background-color: #4c5bd4;
}

.tbl-content {
    overflow-y: auto;
    margin-top: 0px;
}

.table-container th {
    height: 52px;
    padding: 7px 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    border-right: 1px solid #ffffff;
}

.table-container th:nth-last-child(1) {
    border-right: none;
}

.table-container tr {
    border-bottom: solid 1px #474747;
}

.table-container .tbl-content tr:first-child {
    border-top: solid 1px #474747;
}

.table-container tr:last-child {
    border: none;
}

.table-container td {
    height: 52px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
}

.table-container td a {
    color: #4C5BD4;
    text-decoration: none;
}

.table-container td:nth-last-child(1) {
    padding-left: 8px;
}

.tbl-content::-webkit-scrollbar {
    width: 10px;
}

.tbl-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #fafafa;
}

.tbl-content::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(89, 88, 88, 0.3);
    border-radius: 20px;
    background: #C4C4C4;
}

.table-wrapper::-webkit-scrollbar {
    height: 10px;
}

.table-wrapper::-webkit-scrollbar-track {
    background: #fafafa;
}

.table-wrapper::-webkit-scrollbar-track:hover {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 10%);
}

.table-wrapper::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background: #C4C4C4;
}


.table-2-row {
    max-height: 261px;
}

.table-4-row {
    max-height: 155px;
}

/*radio input css*/
.filter-container {
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 13px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.filter1 {
    width: 100%;
    float: left;
}

.category {
    width: 316px;
    margin-right: 20px;
    float: left;
}

.search-box {
    width: 316px;
    float: left;
}

.filter2 {
    width: 100%;
    float: left;
    margin-top: 17px;
}

.filter2 .filter-container {
    margin-right: 77px;
}

.filter3 .filter-container {
    margin-right: 43px;
}

.filter-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    height: 12px;
    width: 12px;
    border: 1px solid #000;
    border-radius: 4px;
}

.checkbox-lbs input[type='checkbox'] {
    width: 24px;
    height: 24px;
    border: 1px solid #474747;
    border-radius: 4px;
}

.filter-container:hover input~.checkmark {
    background-color: #ccc;
}

.filter-container input:checked~.checkmark {
    background-color: #fff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.filter-container input:checked~.checkmark:after {
    display: block;
}

.filter-container .checkmark:after {
    top: 1px;
    left: 1px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: #4C5BD4;
}

.v-select2 .select2-selection.select2-selection--single {
    font-size: 16px;
    line-height: 19px;
    height: 36px !important;
}

.v-select2 .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    color: #666666;
}

.v-select2 .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
    right: 5px;
}

.v-select2 .select2-container--default .select2-selection--single {
    border: 1px solid #666666;
    border-radius: 8px;

}

td .v-select2 .select2-container--default .select2-selection--single {
    border-radius: 4px;
}

.v-btn {
    cursor: pointer;
    width: 148px;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    float: left;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.v-btn:active {
    transform: translateY(2px);
}

.btn-blue {
    background: #4C5BD4;
    color: #ffffff;
}

.btn-outline-blue {
    background: #ffffff;
    color: #4c5bd4;
    border: 1px solid #4c5bd4;
}

.btn-outline-red {
    background: #ffffff;
    color: #EB5757;
    border: 1px solid #EB5757;
}

.btn-green {
    background: #219653;
    color: #ffffff;
}

.btn-green-2 {
    background: #6FCF97;
    color: #FFFFFF;
}


.btn-gray {
    background: #E2E2E2;
    color: #4C5BD4;
}

.add-btn {
    float: right;
}

.display {
    display: flex;
    float: left;
}

.display label {
    margin: 9px 10px 5px 0;
}

select#display {
    width: 64px;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    padding: 8px;
    color: #474747;
    border: 1px solid #474747;
    border-radius: 8px;
}

.pagination {
    display: inline-block;
    float: right;
}

.pagination li {
    width: 19px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 0px 5px;
    margin: 0 5px;
    border: 1px solid #666666;
    border-radius: 4px;
    cursor: pointer;
}

.pagination li:last-child {
    margin-left: 10px;
}

.pagination li:first-child {
    margin-right: 10px;
}

.pagination li a {
    font-size: 13px;
    color: #666666;
}

.pagination li.active {
    background-color: #4C5BD4;
    border: none;
}

.pagination li.active a {
    color: #ffffff;
}

.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 244px;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 15%);
    padding: 10px;
    text-align: left;
    top: 46px;
    right: -10px;
    border-radius: 8px;
    z-index: 1;
}

.dropdown-content li {
    padding: 10px;
    width: 100%;
    float: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.dropdown .dropdown-content.active {
    display: block;
}

.form-group {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

.form-row {
    display: block;
    width: 100%;
}

.form-col-100 {
    position: relative;
    width: 100%;
}

.form-col-50 {
    width: 45%;
}

.m-content {
    position: relative;
    background-color: #ffffff;
    margin: auto;
    padding: 0;
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.acceptance-modal {
    width: 720px;
}

.text-upper {
    text-transform: uppercase;
}

.flex-start {
    justify-content: start !important;
}

.m-head {
    position: relative;
    display: flex;
    height: 54px;
    padding: 17px 16px;
    background-color: #4c5bd4;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 550;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    align-items: center;
    justify-content: center;
}

.m-body {
    line-height: 2.0;
    padding: 20px 14px 0px 14px;
    margin-bottom: 20px;
}

.rejection-modal .m-body {
    padding: 20px 50px 0px 50px;
}

.m-foot {
    width: 100%;
    padding: 0 60px 25px 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.acceptance-modal .m-foot {
    padding: 15px 20px 42px 20px;
}

.dismiss {
    position: absolute;
    right: 15px;
    font-size: 32px;
    font-weight: normal;
}

.dismiss:hover {
    cursor: pointer;
}

.scr-wrapper {
    width: 100%;
    float: left;
    overflow-x: scroll;
    position: relative;
}

.scr-btn {
    top: 40%;
    cursor: pointer;
    width: 32px;
    height: 86px;
    position: absolute;
    z-index: 1;
    background: rgba(196, 196, 196, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.scr-l-btn {
    right: 10px;
    border-radius: 0 8px 8px 0;
}

.scr-r-btn {
    left: 10px;
    border-radius: 8px 0 0 8px;
}

.table-text {
    height: 52px;
    padding-top: 12px;
}

.more {
    position: relative;
}

.tbl-menu {
    right: 0;
    top: 20px;
    position: absolute;
}

.tbl-menu:after {
    cursor: pointer;
    content: '\2807';
    font-size: 30px;
    right: 0;

}

.tbl-menu-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 400px;
    height: 72px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    padding: 10px 20px;
    text-align: left;
    right: 30px;
    top: 32px;
    border-radius: 8px;
    z-index: 1;
}

.tbl-menu-content.active {
    display: block;
}

.table-container .tbl-menu-text {
    cursor: pointer;
    padding: 0 9px;
    color: #474747;
}

#gia-vat-tu-ngay {
    width: 232px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #666666;
}

.ds_tk_nhang .form-row:first-child {
    margin-top: 0;
}

.v-select2 select {
    width: 100%;
    height: 36px;
    font-size: 16px;
    color: #666666;
    border-color: #666666;
    border-radius: 4px;
    padding: 5px 10px;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(45deg, transparent 50%, #888888 50%), linear-gradient(135deg, #888888 50%, transparent 50%);
    background-position: calc(100% - 15px), calc(100% - 10px);
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

.v-select2 select:focus {
    background-image: linear-gradient(45deg, #888888 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #888888 50%);
    background-position: calc(100% - 11px) 1em, calc(100% - 16px) 1em, calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
}

.v-select2 select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.filter {
    display: flex;
    flex-wrap: nowrap;
}

.bank, .value {
    position: relative;
    align-items: center;
}

.bank-form, .value-form {
    float: left;
    width: 95%;
    margin-top: 10px;
}

.detail-title {
    width: 50%;
    text-align: left;
    float: left;
}

.detail-data {
    width: 50%;
    text-align: right;
    float: right;
    word-break: break-word;
}

.no-border {
    border: none !important;
}

.control-btn {
    display: flex;
    justify-content: space-around;
}

.main-form {
    width: 100%;
    float: left;
}

.range-date-picker {
    display: flex;
    justify-content: space-between;
    width: 100%;
    float: left;
}

.date-input-sm {
    width: max(40%, 148px);
}

.form-col-50 .range-date-text p {
    display: inline-block;
    text-align: center;
    padding: 10px 5px;
}

.autocomplete {
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #666666;
    /* border-bottom: none; */
    border-radius: 8px;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 185px;
    overflow-y: auto;
}

.autocomplete-items::-webkit-scrollbar {
    display: none;
    width: 10px;
    position: relative;
}

.autocomplete-items::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 22px;
}

.autocomplete-items::-webkit-scrollbar-track {
    background: #FAFAFA;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    background-color: #5897fb;
    color: #fff;
}

.autocomplete-active {
    background-color: #5897fb !important;
    color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
/* .highlight_row {
    background: #eee;
} */