/* trang chủ trước đăng nhâp */

.trangchu_main .title {
    width: 100%;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
}

.trangchu_banner .content {
    top: 252px;
    left: 80px;
}

.trangchu_banner .content .title {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 33px;
}

.trangchu_banner .content .title::before {
    content: "";
    width: 287px;
    height: 1px;
    position: absolute;
    top: 60px;
    background: #fff;
}

.trangchu_banner .content .cont {
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
}

.trangchu_banner .btn_dangky {
    width: 260px;
    height: 40px;
    background: #FFA800;
    box-shadow: -3px 7px 6px rgba(0, 0, 0, 0.28);
    border-radius: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-top: 28px;
}

.trangchu_hoi .container_hoi .icon_tat {
    width: 36px;
    height: 36px;
    margin-right: 21px;
}

.trangchu_hoi .container_hoi p {
    width: 328px;
    height: auto;
}

.trangchu_hoi .container_img .content {
    top: 65px;
}

.trangchu_hoi .container_hoi_img img {
    width: 244px;
    height: 352px;
}

.trangchu_hoi .container_hoi_l {
    width: 100%;
    padding: 0px 80px 0px 100px;
    top: 100px;
}

.trangchu_hoi .container_hoi_r {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10px;
    top: 150px;
}

.trangchu_hoi .container_hoi_r .item_hoi {
    padding-right: 70px;
}

.trangchu_hoi .container_hoi_l .item_hoi:nth-child(2) {
    margin: 49px 0px 0px 62px;
}

.trangchu_tinhnang .item_tinhnang {
    width: 287px;
    height: 148px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}

.trangchu_tinhnang .item_tinhnang:last-child {
    margin-right: 0px;
}

.trangchu_tinhnang .item_tinhnang img {
    margin-bottom: 17px;
    width: 80px;
    height: 80px;
}

.trangchu_tinhnang .content {
    width: 100%;
    top: 26px;
}

.trangchu_tinhnang .content .title {
    margin-bottom: 33px;
}

.trangchu_loiich .item_loiich .img_l img {
    width: 585px;
    height: 416px;
    margin-right: 28px;
}

.trangchu_loiich .item_loiich .img_r {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.trangchu_loiich .item_loiich .img_r img {
    width: 501px;
    height: 286px;
}

.trangchu_item {
    padding: 0px 80px 0px 80px;
}

.trangchu_loiich .title {
    margin-bottom: 23px;
    margin-top: 80px;
}

.trangchu_loiich .cont {
    width: 50%;
}

.trangchu_user .user_noi {
    width: 390px;
    min-height: 184px;
    background: #4C5BD4;
    border-radius: 28px;
    padding: 17px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.trangchu_user .user_noi img:last-child {
    float: right;
    margin-bottom: 20px;
}

.trangchu_user .title {
    margin-top: 79px;
    margin-bottom: 59px;
}

.trangchu_user .user_info {
    margin-left: 13px;
}

.trangchu_user .content {
    top: 0px;
}

.trangchu_thacmac .item_thacmac {
    width: 688px;
    height: 308px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 25px 75px 25px 40px;
}

.trangchu_thacmac .thanhsearch input {
    width: 490px;
    height: 36px;
    position: relative;
}

.thanhsearch input {
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 0px 100px 0px 15px;
}

.thanhsearch .btn {
    background: #4C5BD4;
    position: absolute;
    border-radius: 0px 10px 10px 0px;
    top: 0px;
    width: 90px;
    height: 36px;
    right: 0px;
}

.trangchu_thacmac .form_row .btn {
    width: 163px;
    height: 59px;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    margin-right: 8px;
}

.trangchu_thacmac .form_row .btn p {
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #474747;
}

.trangchu_thacmac .form_thacmac {
    width: 490px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 17px 20px 40px 20px;
}

.trangchu_thacmac .form_thacmac .form_header img {
    width: 24px;
    height: 24px;
    margin-right: 11px;
}

.form_group input {
    height: 36px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 15px;
    width: 100%;
}

.form_group textarea {
    padding-left: 15px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
}

.trangchu_thacmac .form_thacmac button.btn {
    margin-top: 36px;
    width: 420px;
    height: 42px;
    background: #4C5BD4;
    box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 60px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.chia_trang li {
    width: 19px;
    height: 19px;
    background: #FFFFFF;
    border: 1px solid #666666;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    margin-right: 9px;
}

.chia_trang ul {
    margin-top: 34px;
}

.chia_trang li.active {
    background: #4C5BD4;
    color: #FFFFFF;
}

.chia_trang li:first-child {
    margin-right: 15px;
}

.chia_trang li:last-child {
    margin-left: 15px;
    margin-right: 0px;
}

.trangchu_timhieu .content p {
    margin-top: 94px;
    margin-bottom: 41px;
}

.trangchu_timhieu img {
    width: 550px;
    height: 323px;
}

.trangchu_thacmac .title {
    margin-top: 73px;
    margin-bottom: 48px;
}

#trangchu-huongdan .trangchu_banner .content p {
    font-size: 28px;
    line-height: 36px;
}

#trangchu-huongdan .trangchu_banner .content .cont img {
    height: 40px;
    margin-top: 23px;
}

#trangchu-huongdan .trangchu_banner .content {
    top: 73px;
}

#trangchu-huongdan .trangchu_banner .content .cont {
    margin-right: 136px;
}

.trangchu_banner .content .video {
    width: 593px;
    height: 316px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 4px;
}

.trangchu_main {
    padding-top: 45px;
}

.trangchu_huongdan .container_huongdan {
    margin-top: 79px;
}

.trangchu_huongdan .item_huongdan {
    width: 287px;
    height: 236px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-bottom: 20px;
}

.trangchu_huongdan .item_huongdan .btn {
    width: 148px;
    height: 36px;
    background: #4C5BD4;
    border-radius: 8px;
    cursor: pointer;
}

#trangchu-huongdan .trangchu_timhieu .content p {
    margin-top: 83px;
}