@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url(/fonts/Roboto-Regular.woff2) format("woff2");
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url(/fonts/Roboto-Medium.woff2) format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url(/fonts/Roboto-Bold.woff2) format("woff2");
    font-weight: bold;
}

/* ========================  ======================== */

* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

img {
    object-fit: cover;
}

.cr_weight {
    font-weight: 500;
}

.cr_weight_bold {
    font-weight: bold;
}

.share_fsize_one {
    font-size: 14px;
    line-height: 16px;
}

.share_fsize_tow {
    font-size: 16px;
    line-height: 19px;
}

.share_fsize_three {
    font-size: 15px;
    line-height: 18px;
}

.share_fsize_four {
    font-size: 18px;
    line-height: 21px;
}

.share_fsize_five {
    font-size: 16px;
    line-height: 21px;
}

.share_cursor {
    cursor: pointer;
}

.share_bgr_one {
    background: #4C5BD4;
}

.share_bgr_tow {
    background: #FFFFFF;
}

.share_bgr_three {
    background: #FFA800;
}

.sh_bgr_four {
    background: #D6D9F5;
}

.sh_bgr_five {
    background: #D9F2E3;
}

.sh_bgr_six {
    background: #6FCF97;
}

.share_clr_one {
    color: #474747;
}

.share_clr_tow {
    color: #FFFFFF;
}

.share_clr_three {
    color: #666666;
}

.share_clr_four {
    color: #4C5BD4;
}

.cr_red {
    color: #FF3333;
}

.cr_xanh {
    color: #6FCF97;
}

.cr_xanh_dam {
    color: #219653;
}

.cr_vang {
    color: #F2C94C;
}

.cr_da_cam {
    color: #F2994A;
}

.cr_do_nhat {
    color: #EB5757;
}

.w_100 {
    width: 100%;
}

.float_l {
    float: left;
}

.tex_left {
    text-align: left;
}

.tex_center {
    text-align: center;
}

.tex_right {
    text-align: right;
}

.mt_65 {
    margin-top: 65px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_25 {
    margin-top: 25px;
}

.mt_27 {
    margin-top: 27px;
}

.mt_30 {
    margin-top: 30px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_25 {
    margin-bottom: 25px;
}

.mb_26 {
    margin-bottom: 26px;
}

.mr_10 {
    margin-right: 10px;
}

.mr_30 {
    margin-right: 30px;
}

.ml_20 {
    margin-left: 20px;
}

.ml_50 {
    margin-left: 50px;
}

.ml_5 {
    margin-left: 5px;
}

.padd_l {
    padding-left: 15px;
}

.padd_t {
    padding-top: 5px;
}

.form-group .form-control.h_border {
    border: 0;
    outline: 0;
    padding-left: 0;
}

.d_flex {
    display: flex;
}

.fl_wrap {
    flex-wrap: wrap;
}

.fl_nwrap {
    flex-wrap: nowrap;
}

.fl_agi {
    align-items: center;
}

.dflex_jc {
    justify-content: center;
}

.flex_jct {
    justify-content: space-between;
}

.share_brd_radius {
    border-radius: 10px;
}

.s_radius_two {
    border-radius: 8px;
}

.share_w_136 {
    width: 138px;
}

.share_w_140 {
    width: 140px;
}

.share_w_148 {
    width: 148px;
}

.share_h_36 {
    height: 36px;
}

.share_h_52 {
    height: 52px;
}

.share_tb_one {
    width: 5%;
}

.share_tb_two {
    width: 10%;
}

.share_tb_three {
    width: 15%;
}

.share_tb_four {
    width: 20%;
}

.share_tb_five {
    width: 25%;
}

.share_tb_six {
    width: 30%;
}

.share_tb_nine {
    width: 40%;
}

.share_tb_ten {
    width: 12%;
}

.share_tb_seven {
    width: 3%;
}

.share_tb_eight {
    width: 7%;
}

.share_dnone {
    display: none;
}

.share_distance .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
}

.share_distance .form-row .form-group {
    width: 45%;
}

.share_distance .form-group {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.form-group label {
    width: 100%;
    float: left;
    margin-bottom: 8px;
}

.form_lb label {
    width: unset;
    margin-bottom: 0;
    margin-right: 10px;
}

.form_lb input[type="checkbox"] {
    width: 24px;
    height: 24px;
    border: 1px solid #474747;
    border-radius: 4px;
}

.form-group input[readonly] {
    background: #FFFFFF;
}

.form-group .form-control {
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
    border: 1px solid #666666;
    border-radius: 8px;
}

.form-group input.form-control {
    padding: 9px 10px 9px 15px;
    height: 36px;
}

.form-group input[type="date"].form-control {
    padding: 8px 10px 7.3px 15px;
    height: 36px;
}

.form-group select.form-control {
    padding: 8px 10px 7px 15px;
}

.form-group textarea.form-control {
    padding: 10px;
    resize: none;
}

.share_form_select .select2-container .select2-selection--single {
    height: 36px;
    border: 1px solid #666666;
    box-shadow: none;
    border-radius: 10px;
    font-size: 16px;
}

.share_form_select .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
    color: #474747;
    padding-left: 10px;
    padding-right: 25px;
}

.share_select2 .select2-container .select2-selection--single {
    height: 36px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

.share_select2 .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
}

.share_select2 .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}

.share_form_select .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
    right: 6px;
}

/* footer */

.footer {
    width: 100%;
    float: left;
    background: #043379;
    color: #ffffff;
    padding: 40px 74px 40px 74px;
}

.footer img {
    object-fit: cover !important;
    width: auto;
}

.list-li span a {
    font-size: 16px;
    line-height: 25px;
    text-decoration: none;
    color: #ffffff;
}

.ft-pl p {
    width: 100%;
    float: left;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    color: #ffffff;
}

.ft-pl {
    width: 50%;
    float: left;
}

.footer .ct-one {
    display: flex;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 20px;
    line-height: 19px;
}

.contract {
    width: 100%;
    float: left;
}

.footer .ct-tow {
    display: flex;
    width: 100%;
}

.ft-one {
    width: 100%;
    float: left;
}

.ft-tow {
    width: 100%;
    float: left;
}

.footer .ct-one .ct-one-a a {
    color: #fff;
    margin-right: 25px;
    font-size: 16px;
    text-decoration: none;
    text-align: left;
    line-height: 25px;
}

.footer .ct-one h4 {
    width: 165px;
    float: left;
    font-size: 16px;
    color: #fff;
    padding-right: 20px;
}

.footer .ct-tow h4 {
    font-size: 16px;
    color: #fff;
    padding-right: 20px;
    margin-bottom: 0;
    line-height: 30px;
}

.footer .ct-tow img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.icon-ft-one {
    width: 100%;
    float: left;
    margin-top: 30px;
    margin-bottom: 25px;
}

.ci-one {
    width: 125px;
    float: right;
    text-align: center;
}

.ci-one {
    margin-right: 30px;
}

.ci-tow {
    width: 122px;
    float: right;
    text-align: center;
}

.icon-ft-one p {
    padding-top: 10px;
    text-align: center;
}

.icon-ft-tow {
    width: 100%;
    float: right;
}

.cd {
    width: 100%;
    float: left;
}

.cd-img {
    width: 50%;
    float: left;
    text-align: center;
}

.cd-img img {
    width: 270px;
    height: 440px;
}

.icon-ft-tow .cg-one, .icon-ft-tow .cg_one {
    float: right;
    background: #fff;
    border-radius: 30px;
    margin-bottom: 20px;
    position: relative;
}

.icon-ft-tow .cg-one {
    padding: 20px 23px 20px 62px;
}

.icon-ft-tow .cg_one {
    padding: 20px 55px 20px 62px;
}

.icon-ft-tow .cg-one::after, .icon-ft-tow .cg_one::after {
    position: absolute;
    float: left;
    content: "";
    width: 50px;
    height: 49px;
    top: 5px;
    left: 5px;
}

.icon-ft-tow .cg-one::after {
    background: url(../img/dl365.png) no-repeat;
}

.icon-ft-tow .cg_one::after {
    background: url(../img/dlt365.png) no-repeat;
}

.icon-ft-tow .p-ch {
    width: 100%;
    float: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
}

.cg-tow {
    width: 70%;
    float: right;
    background: #fff;
    border-radius: 30px;
}

.ft-ct-one {
    width: 50%;
    float: left;
}

.ft-ct-tow {
    width: 50%;
    float: left;
}

.ft-ct-cx {
    width: 90%;
    float: right;
}

.ft-ct-one p {
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 7px;
    font-size: 16px;
    text-align: left;
    width: 100%;
}

.ft-ct-cx p {
    margin-bottom: 0;
    padding-top: 10px;
    font-size: 16px;
    text-align: right;
    width: 100%;
}

.ci-one p {
    text-align: right;
    width: 100%;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
}

.icon-ft-one img {
    width: 112px;
    height: 112px;
}

.ft-ico p {
    font-size: 14px;
    width: 100%;
    line-height: 25px;
    position: relative;
    padding-left: 45px;
}

.ft-ico p::after {
    content: "";
    float: left;
    position: absolute;
    width: 34px;
    height: 34px;
    left: 0px;
}

.ft-ico p:first-child::after {
    background: url(../img/exp1.png) no-repeat;
    top: 6px;
}

.ft-ico p:nth-child(2)::after {
    background: url(../img/exp2.png) no-repeat;
    top: 0;
}

.ft-ico p:nth-child(3)::after {
    background: url(../img/exp3.png) no-repeat;
    top: 0;
}

.ft-ct-one h4 {
    margin-bottom: 0;
    width: 100%;
    font-size: 22px;
    margin-bottom: 25px;
}

.ft-ico, .r-ft-tow .l-ft {
    width: 100%;
    float: left;
}

.ft-cr-tow {
    width: 100%;
    float: left;
    padding-top: 15px;
    border-bottom: 2px solid #d4d4d4;
    padding-bottom: 15px;
}

.ft-ct-tow .row {
    margin-left: 0 !important;
}

.r-ft-one {
    width: 50%;
    float: left;
}

.r-ft-one p, .r-ft-tow p {
    width: 100%;
    float: left;
    font-size: 15px;
    background: url(/img/exp4.png) no-repeat;
    background-position: left;
    padding-left: 19px;
}

.r-ft-one p a, .r-ft-tow p a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.r-ft-tow {
    width: 48%;
    float: right;
}

.r-ft-three {
    display: none;
}

.r-ft-tow .l-ft .l-one-img {
    float: left;
    display: flex;
    margin-right: 30px;
}

.r-ft-tow .l-ft .l-one-img img {
    width: 107px;
    height: 41px;
}

.r-ft-tow .l-ft .l-tow-img {
    float: left;
}

.r-ft-tow .l-ft .l-tow-img img {
    width: 41px;
    height: 41px;
}

.rs-ft-one {
    display: none;
}

.footer p {
    margin-bottom: 7px;
}

.contact {
    width: 49%;
    float: left;
    padding-right: 30px;
}

.contact .txt p {
    font-size: 16px;
    line-height: 25px;
}

.coweb a {
    text-decoration: none;
}

.contact .txt .title {
    margin: 5px 0 22px;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
}

.contact .contact-prof {
    display: flex;
    margin-bottom: 8px;
}

.contact .fist {
    margin-bottom: 30px;
}

.contact .icf {
    width: 40px;
}

.contact .icf img {
    width: 26px;
    height: 26px;
}

.contact .txt-dc {
    width: 100%;
}

.lt-day.active, .lt-day1.active {
    background: #ffa800;
    color: #fff;
}

.list-li {
    margin-top: 25px;
    width: 100%;
    float: left;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d4d4d4;
}

.list-li .col {
    padding-left: 0;
    width: 100%;
    padding-right: 5px;
}

.list-li span {
    margin-left: 10px;
}

.list-li .fa img {
    width: 10px;
    height: 12px;
}

.list-li .col .boder-img {
    display: flex;
    margin-top: 22px;
}

.list-li .boder-img .img-red {
    margin-right: 39px;
}

.footer .list-li-tl, .image .img-lf .boder-img_block {
    display: none;
}

.footer .image {
    width: 50%;
    float: right;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
}

.footer .image .btn-tv {
    margin: 0;
    float: right;
    margin-top: 20px;
}

.img-lf p {
    text-align: right;
}

.image .img-lf, .image .img-rg {
    width: 50%;
}

.image .img .d-flex {
    margin-top: 33px;
}

.footer .image .img .btn-tv .d-flex {
    margin: 0;
}

.image .p-2 p {
    margin-top: 10px;
}

.image .img-rq {
    margin-left: 10px;
}

.image .btn {
    width: 100%;
}

.image p {
    margin-bottom: 0;
}

.image .btn a {
    color: #0c214a;
}

.image .btn a:hover {
    color: #4c5bd4;
    text-decoration: none;
}

.image .btn-tv {
    width: 276px;
    height: 55px;
    background: #fff;
    border-radius: 100px;
    margin-left: 10px;
}

.image .btn-tv span {
    margin-left: 5px;
}

.image .tv {
    padding: 5px;
}

.image .border-btn {
    width: 100%;
}

.image .img-rq img {
    width: 112px;
    height: 112px;
}

.image .img-phone {
    display: inline-block;
}

.image .img-phone img {
    width: 100%;
    height: 100%;
}

.det {
    width: 100%;
    float: left;
    font-size: 16px;
    line-height: 19px;
    margin-top: 10px;
}

.det .font-weight-bold {
    display: block;
    width: 11em;
}

.det .det-link {
    display: flex;
}

.det .det-link a {
    text-decoration: none;
    color: #fff;
    margin-right: 20px;
}

.det .fa {
    margin-left: 20px;
    width: 30px;
    height: 30px;
}

.det-ic {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.det-ic p {
    margin-bottom: 0;
}

.footer .d-flex {
    display: flex;
}

.footer .justify-content-end {
    justify-content: flex-end;
}

.footer .text-center {
    text-align: center !important;
}

.footer .p-2 {
    padding: 0.5rem !important;
}

.footer .align-items-center {
    align-items: center;
}

.footer .btn-tv a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
}

/* ket thuc footer */

/* header */

.header_ql, .cnt_header {
    width: 100%;
    float: left;
}

.cnt_header .bg_wra {
    width: 100%;
    float: left;
    height: 52px;
    position: fixed;
    background: #4C5BD4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
}

.bg_wra .bg_ima {
    float: left;
    height: 100%;
}

.bg_wra .bg_ima a {
    width: 100%;
    float: left;
    text-decoration: none;
    text-align: left;
    padding: 11px 0 11px 68px;
}

.bg_wra .bg_ima a img {
    width: 128px;
    height: 28px;
}

.bg_wra .header_nav {
    float: right;
}

.bg_ima_menu {
    display: none;
}

.bg_wra .header_nav .nav {
    float: right;
    text-align: right;
    padding-right: 68px;
}

.bg_wra .header_nav .nav ul {
    float: left;
    list-style-type: none;
    text-align: right;
    padding-right: 25px;
}

.bg_wra .header_nav .nav ul li {
    display: inline;
    padding: 10px 15px;
    line-height: 52px;
}

.bg_wra .header_nav .nav ul li a {
    display: inline;
    line-height: 46px;
    text-decoration: none;
}

.bg_wra .header_nav .nav ul li a.active {
    text-decoration: revert;
}

.bg_wra .hd_log {
    float: right;
    padding: 9px 0px;
}

.bg_wra .hd_log .bg_log, .bg_wra .hd_log .bg_log_aff {
    float: right;
    display: flex;
}

.logout_ht .tow_butt_flex button {
    border: 1px solid #4c5bd4;
}

.bg_wra .hd_log .bg_log {
    display: block;
}

.hd_log .bg_log_aff .bg_log_img img {
    width: 34px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.bg_wra .hd_log .bg_log p {
    background: #232F87;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 11px 8px 11px;
}

.bg_wra .hd_log .bg_log a {
    color: #FFFFFF;
    text-decoration: none;
}

/* ket thuc header */

/* banner header */

.butt_header, .butt_header .bgr_header {
    width: 100%;
    float: left;
}

.butt_header .bgr_header img {
    width: 100%;
    float: left;
    background-size: 100% 100%;
    position: relative;
}

.bgr_froh {
    width: 60%;
    float: left;
    position: absolute;
    top: 260px;
    margin-left: 151px;
}

.fonh_one {
    width: 100%;
    float: left;
    margin-bottom: 40px;
}

.fonh_one h1 {
    width: 100%;
    float: left;
    font-size: 40px;
    line-height: 47px;
    text-align: left;
    margin-bottom: 10px;
    padding-right: 10px;
}

.fonh_one p {
    width: 100%;
    float: left;
    font-size: 20px;
    line-height: 27px;
    text-align: justify;
}

.fonh_tow {
    float: left;
}

.fonh_tow a {
    float: left;
    font-size: 18px;
    line-height: 21px;
    padding: 9px 26px 12px 26px;
    box-shadow: -3px 7px 6px rgba(0, 0, 0, 0.28);
    border-radius: 60px;
    text-decoration: none;
}

.gduoi_td {
    width: 287px;
    float: left;
    height: 1px;
    margin: 4px 0px 19px 0px;
}

/* ket thuc banner header */

.trang_chu .container {
    max-width: 1200px;
    margin: 0 auto;
}

.content_ct_one, .nd_chitiet {
    width: 100%;
    float: left;
}

.ctn_ct_one {
    width: 100%;
    float: left;
    background: url(../img/elip.png)no-repeat;
    background-size: 100% 100%;
    height: 455px;
}

.tieu_de {
    float: left;
    font-size: 28px;
    line-height: 33px;
}

.nd_one {
    width: 40%;
    float: left;
    margin-top: 30px;
}

.nd_two {
    width: 20%;
    float: left;
}

.nd_three {
    width: 40%;
    float: left;
    margin-top: 80px;
}

.nd_ctiet_nho {
    position: relative;
    width: 90%;
    float: left;
    flex-wrap: nowrap;
    align-items: center;
}

.nd_one .nd_ctiet_nho:first-child {
    margin-bottom: 49px;
}

.nd_one .nd_ctiet_nho:last-child {
    padding-left: 56px;
}

.nd_ctiet_nho img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.nd_ctiet_nho .nd_nho {
    padding-left: 21px;
}

.nd_two img {
    width: 244px;
    height: 352px;
}

.content_ct_two {
    float: left;
    background: url(../img/tinhnang.png)no-repeat;
    background-size: 100% 100%;
}

.content_ct_two .tieu_de {
    margin: 26px 0px 33px 0px;
}

.tatca_tinhn, .ctn_tatca, .content_ct_three, .ctn_loii, .loii_tatca {
    float: left;
}

.tatca_tinhn {
    margin-bottom: 20px;
}

.tinhn_one {
    width: 23.7%;
    float: left;
    background: #FFFFFF;
    text-align: center;
    padding: 12px 17px 20px 16px;
}

.tinhn_one_o {
    margin-left: 20px;
    margin-right: 10px;
}

.tinhn_one_t {
    margin-left: 10px;
    margin-right: 20px;
}

.content_ct_three .tieu_de {
    margin: 80px 0px 23px 0px;
}

.avt_loii_dd, .ttin_loii {
    width: 50%;
    float: left;
}

.ttin_loii_o {
    margin-top: 75px;
    padding-left: 30px;
}

.ttin_loii_t {
    margin-top: 30px;
    padding-right: 30px;
}

.tde_ttin {
    margin-bottom: 17px;
}

.ttin_loii p {
    margin-bottom: 11px;
    position: relative;
    padding-left: 30px;
}

.ttin_loii p::after {
    content: "";
    position: absolute;
    background: url(../img/icon_tich.png)no-repeat;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}

.content_ct_four {
    background: url(../img/trangchu_u.png)no-repeat;
    background-size: 100% 100%;
    margin-top: 50px;
}

.content_ct_four .tieu_de {
    margin: 79px 0px 59px 0px;
}

.dtot_tatca {
    margin-bottom: 95px;
}

.dtot_one {
    width: 32%;
    float: left;
}

.dtot_one:nth-child(2n) {
    margin-left: 2%;
    margin-right: 2%;
}

.dgia_ctoi {
    border-radius: 20px;
    margin-bottom: 16px;
}

.dgia_ctoi p {
    padding: 50px 17px;
    position: relative;
}

.dgia_ctoi p::after, .dgia_ctoi p::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
}

.dgia_ctoi p::after {
    background: url(../img/icon_pt.png)no-repeat;
    top: 20px;
    left: 17px;
}

.dgia_ctoi p::before {
    background: url(../img/icon_po.png)no-repeat;
    bottom: 20px;
    right: 17px;
}

.nguoi_dgia {
    align-items: center;
}

.ttin_ndgia {
    margin-left: 13px;
}

.ctn_cu_one .content_ct_six {
    background: url(../img/hinh_nen_one.png)no-repeat;
    background-size: 100% 100%;
    padding: 19px 0px 21px 0px;
}

.ten_ndgia {
    margin-bottom: 7px;
}

.tnghiem_one, .tnghiem_avt {
    width: 49%;
}

.tnghiem_avt {
    margin-left: 2%;
}

.tnghiem_one {
    background: url(../img/avt_tn_one.png)no-repeat;
    background-size: 100% 100%;
    border-radius: 20px;
    position: relative;
    z-index: 2;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

.tnghiem_one .tieu_de {
    margin-top: 48px;
}

.avt_tnghiem {
    position: relative;
    float: left;
    z-index: 1;
}

.tnghiem_tatca {
    flex-wrap: wrap;
    justify-content: space-between;
}

.thun_avt_one {
    position: relative;
    z-index: 2;
    float: left;
}

.avt_tnghiem {
    align-items: center;
}

.tnghiem_one .tieu_de {
    margin-bottom: 55px;
    text-align: center;
}

.avt_white {
    justify-content: center;
    align-items: center;
}

.tnghiem_image_o {
    margin-left: 20px;
}

.tnghiem_image_o p:first-child {
    margin-bottom: 20px;
}

.ctn_cu_two {
    margin-top: 110px;
    background: url(../img/nen_vd.png)no-repeat;
    background-size: 100% 100%;
}

.content_ct_one {
    margin: 55px 0px;
}

.ctn_video .tieu_de {
    margin-bottom: 48px;
}

.ctn_hd_video {
    width: 600px;
    margin: 0 auto;
}

.img-hd {
    width: 100%;
    float: left;
    height: 336px;

}

.ctn_baiv .tieud_baiv {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.ctn_baiv p {
    font-size: 16px;
    line-height: 24px;
}

.avt_bv {
    width: 100%;
    margin-top: 40px;
    float: left;
    text-align: center;
}

.avt_bv img {
    width: 550px;
    height: 323px;
}

.content_ct_five {
    margin-top: 73px;
    margin-bottom: 118px;
}

.content_ct_five .tieu_de {
    margin-bottom: 49px;
}

.list_cauh {
    width: 58%;
    float: left;
}

.dat_cauh {
    width: 40%;
    float: left;
    margin-left: 20px;
}

.form_search {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 15px;
    height: 36px;
    display: flex;
    flex-wrap: nowrap;
}

.form_search .form_control {
    width: calc(100% - 90px);
    float: left;
    height: 100%;
    line-height: 36px;
    font-size: 14px;
    line-height: 16px;
    padding: 10px 10px;
    border: 0;
    outline: none;
}

.cl_search {
    width: 90px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dat_choi_ndung {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px 20px 40px 20px;
}

.tde_dat_cauh {
    position: relative;
    margin-bottom: 21px;
    padding-left: 35px;
}

.tde_dat_cauh::before {
    content: "";
    position: absolute;
    float: left;
    background: url(../img/icon_hoi.png)no-repeat;
    top: 0px;
    left: 0px;
    width: 24px;
    height: 24px;
}

.nhap_ma {
    width: 43%;
    float: left;
    margin-right: 48px;
}

.ma_captcha {
    width: 42%;
    float: right;
    align-items: center;
    justify-content: space-between;
}

.hien-ma-nhap {
    width: 163px;
    padding: 15px 0px;
    float: left;
    line-height: 29px;
    text-align: center;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    font-size: 24px;
    letter-spacing: 5px;
}

.ma_captcha img {
    float: left;
    width: 24px;
    height: 27px;
    margin-left: 10px;
}

.form_submit {
    width: 90%;
    margin: auto;
}

.form_submit button {
    box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 60px;
    padding: 10px 10px;
    border: 0;
    outline: none;
    margin-top: 10px;
}

.choi_chit {
    margin-bottom: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 25px 40px;
}

.nguoid_hoi {
    margin-bottom: 20px;
}

.anh_dd img {
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.ten_ndung {
    margin-left: 20px;
}

.ten_ndung p:first-child {
    margin-bottom: 7px;
}

.cauh_ndung {
    padding-left: 60px;
    margin-top: 10px;
}

.cty_tloi {
    padding-left: 60px;
}

.tro_loi_r {
    font-size: 14px;
    line-height: 20px;
}

.group_o {
    justify-content: space-between;
}

#huong_dan .bgr_froh {
    width: 100%;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 80px;
}

#huong_dan .fonh_one {
    width: 38%;
    position: relative;
    margin-left: 151px;
    margin-bottom: 0;
    padding-right: 50px;
}

#huong_dan .fonh_tow {
    position: relative;
    width: 38%;
    margin-right: 151px;
    float: left;
}

#huong_dan .butt_header .bgr_header {
    margin-top: 52px;
}

#huong_dan .bgr_header img {
    height: 372px;
}

#huong_dan .img-hd {
    width: 593px;
    height: 316px;
    float: right;
}

#huong_dan .the_nghiem {
    width: 100%;
    float: left;
    margin-top: 23px;
    justify-content: start;
}

#huong_dan .the_nghiem .the_ng_two {
    margin-left: 30px;
}

.hd_one {
    margin-top: 72px;
}

.ungd_hd {
    display: flex;
    flex-wrap: wrap;
}

.hd_one .ctiet_ungd_hd {
    width: 23%;
    float: left;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin: 10px 10px;
}

.ctiet_ungd_hd {
    padding: 20px 20px 24px 20px;
    text-align: center;
}

.avt_mhoa {
    width: 100%;
    float: left;
    height: 98px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.ctiet_ungd_hd p {
    margin-bottom: 28px;
}

.link_hd {
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
}

.ctiet_ungd_hd a {
    text-decoration: none;
    width: 148px;
    height: 36px;
    line-height: 36px;
    float: left;
    border-radius: 8px;
}

#huong_dan .fonh_one h1 {
    font-size: 28px;
    line-height: 36px;
}

.ctn_table_share {
    width: 100%;
    float: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid #474747;
    position: relative;
}

.add_hopd {
    position: relative;
    float: right;
    margin-bottom: 20px;
}

.all_hopd {
    display: none;
    width: 400px;
    position: absolute;
    top: 40px;
    right: 0px;
    z-index: 3;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 0px 20px;
}

.all_hopd.active {
    display: block;
}

.all_hopd p {
    padding: 11px 0px 9px 0px;
    border-bottom: 0.5px solid #666666;
}

.all_hopd p:last-child {
    border-bottom: 0;
}

.ql_chung .filter1 .category, .ql_chung .filter1 .search-box {
    margin-bottom: 20px;
}

.ql_chung .filter1 .category {
    margin-right: 20px;
}

.ql_chung .filter1 .search-box {
    margin-left: 0;
}

.share_tb_hd {
    margin-bottom: 2px;
    overflow-x: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #FAFAFA;
    position: relative;
}

.share_tb_hd .table {
    min-width: 2480px;
    margin-bottom: 2px;
    background: #FFFFFF;
}

.table th {
    border-top: 0;
    border-right: 1px solid #FFFFFF;
    border-left: 0;
}

.table {
    border-collapse: collapse;
}

.table th:last-child {
    border-right: 0;
}

.share_tb_hd::-webkit-scrollbar, .ctn_table_ct::-webkit-scrollbar, .ctn_table::-webkit-scrollbar {
    height: 10px;
    position: relative;
}

.share_tb_hd::-webkit-scrollbar-track, .ctn_table_ct::-webkit-scrollbar-track, .ctn_table::-webkit-scrollbar-track {
    background: #FAFAFA;
}

.share_tb_hd::-webkit-scrollbar-thumb, .ctn_table_ct::-webkit-scrollbar-thumb, .ctn_table::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 22px;
}

.share_tb_hd .table tbody tr:last-child, .ctn_table_ct .table tbody tr:last-child, .ctn_table .table tbody tr:last-child {
    border-bottom: 1px solid #FFFFFF;
}

.share_tb_hd .table tbody {
    border: unset;
}

.scroll_right, .scroll_left {
    position: absolute;
    z-index: 1;
    top: 35%;
}

.scroll_right {
    right: 10px;
}

.scroll_left {
    left: 10px;
}

.scroll_left img {
    transform: rotate(180deg);
}

.ql_ctiet_hd .content {
    padding-top: 0;
}

.ctn_ctiet_hd {
    margin-bottom: 160px;
}

.prew_href {
    float: left;
    padding-left: 15px;
    position: relative;
}

.prew_href::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/prew_href.png)no-repeat;
    width: 6px;
    height: 12px;
}

.chitiet_hd {
    border-bottom: 0.5px solid rgba(102, 102, 102, 0.24);
    padding-bottom: 12px;
    margin-bottom: 9px;
}

.ctiet_dk_hp {
    margin-bottom: 68px;
}

.chitiet_hd:last-child {
    border-bottom: 0;
}

.ctiet_hd_left, .ten_ctiet {
    width: 45%;
}

.ten_ctiet {
    float: left;
}

.ctiet_hd_right {
    width: 45%;
    float: right;
}

.ctiet_hd_left p:nth-child(2), .ctiet_hd_right p:nth-child(2) {
    width: 45%;
    text-align: right;
    float: right;
}

.xuat_gmc {
    margin-top: 35px;
    justify-content: space-between;
    align-items: center;
}

.share_xuat_gmc p {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.xuat_gmc_one p:nth-child(1) {
    background: #219653;
}

.xuat_gmc_one p:nth-child(2) {
    background: #E2E2E2;
}

.xuat_gmc_two p:nth-child(1) {
    border: 1px solid #FF3333;
}

.ctn_table_ct, .ctiet_hopd_vt {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ctiet_hopd_vt {
    border: 1px solid #666666;
}

.ctn_table_ct, .ctn_table {
    overflow-x: auto;
    overflow-y: auto;
}


.bao_hanh {
    justify-content: space-between;
}

.bao_hanh input {
    border-radius: 8px;
    border: 1px solid #666666;
    height: 36px;
    color: #474747;

}

.bef_ptram {
    width: 64px;
    position: relative;
}

.bef_ptram .phan_tram {
    position: absolute;
    float: left;
    top: 10px;
    right: 9px;
}

.bao_hanh .baoh_pt {
    width: 100%;
}

.bao_hanh .gia_tri {
    width: 170px;
}

.add_vat_tu {
    float: left;
    margin-bottom: 8px;
}

.ctn_table {
    border: 0.2px solid #474747;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.ql_ctiet_hd_thue .table {
    min-width: 3648px;
}

.ql_them_hd_thue .table {
    min-width: 3812px;
}

.ql_ctiet_hd_vc .table {
    min-width: 2000px;
}

.ql_don_hang .table {
    min-width: 2553px;
}

.ql_ct_dh_mua .table, .ql_ct_dh_ban .table {
    min-width: 2248px;
}

.ql_them_dh .table, .ql_sua_dh .table, .ql_sua_dh_ban .table, .ql_them_dh_ban .table {
    min-width: 3359px;
}

.ql_ho_so_tt .table {
    min-width: 2424px;
}

.ql_ct_hs_tt .table {
    min-width: 3275px;
}

.ql_phieu_tt .table {
    min-width: 2202px;
}

.ql_ctiet_hd .table {
    min-width: 2624px;
}

.ql_them_hd_ban .table {
    min-width: 2572px;
}

.table .form-group {
    width: 100%;
    margin-bottom: 0;
}

.ctn_table .table tbody td {
    padding: 8px 8px 7px 8px;
    border-top: 0px;
}

.form-button {
    float: right;
    margin-top: 32px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
}

.form_button button {
    border: 1px solid #4C5BD4;
    outline: 0;
    margin-left: 10px;
}

.sh_bor_r {
    border-right: 1px solid #FFFFFF;
}

.sh_bor_b {
    border-bottom: 1px solid #FFFFFF;
}

.ql_chung .c-top {
    border-bottom: 1px solid #474747;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_creart_hd {
    line-height: 36px;
}

.ql_them_hs_tt .them_moi_vt {
    margin-top: 70px;
}

.ql_them_phieu_tt .ctn_table .table {
    min-width: 0;
}

.form-them-nganh {
    margin-top: 50px;
    margin-bottom: 30px;
}

.form-them-nganh .tieu_de {
    padding-bottom: 10px;
    border-bottom: 1px solid #474747;
}

.tien_chi_tra {
    border-bottom: 1px solid #474747;
    margin-bottom: 16px;
}

/* bieu do cot ghep */
.tt_three_ctiet {
    height: 400px;
    width: 100%;
    float: left;
}


.highcharts-credits, .highcharts-exporting-group {
    display: none !important;
}

.ql_trangchu_s .ctt_tt_one {
    margin-top: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 35px;
}

.ctt_tt_three {
    margin-top: 60px;
    padding: 24px 26px;
}

.staff_fulln, .ctt_tt_three {
    float: left;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
    position: relative;
}

.tt_left_one {
    width: calc(100% - 252px);
    flex-wrap: wrap;
}

.tt_right_one {
    width: 232px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.til_fulln {
    float: left;
    padding: 20px 26px 19px 26px;
}

.titl_avt_full {
    float: left;
    padding: 0px 55px 0px 15px;
}

.ten_nvien_ql {
    margin-bottom: 14px;
    font-size: 28px;
    line-height: 33px;
}

.titl_avt_full img {
    width: 228px;
    height: 151px;
    margin-top: -40px;
    position: relative;
    z-index: 1;
}

.tt_right_one {
    padding: 10px 10px 20px 10px;
    text-align: center;
}

.time_tt {
    font-size: 55px;
    line-height: 64px;
}

.tt_left_tow {
    width: 49%;
}

.tt_right_tow {
    margin-left: 2%;
}

.ctt_tt_two .apexcharts-legend.position-right {
    display: none !important;
}

.chart, .tt_charts, .tt_charts_one {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 0 !important;
}

.tieu_de_bd {
    padding: 23px 26px 3px 26px;
    flex-wrap: wrap;
    align-items: center;
}

.ttin_ctiet {
    padding: 23px 26px 0px 26px;
}

.filter_mdy .form_search_dmy {
    width: 188px;
    height: 36px;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
}

.tieu_de_ct {
    margin-top: 5px;
}

.da_thu .dthu, .cphai_thu, .dtra, .cphai_tra {
    position: relative;
    padding-left: 25px;
}

.da_thu .dthu::before, .cphai_thu::before, .dtra::before, .cphai_tra::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    top: 0;
    left: 0;
}

.da_thu .dthu::before {
    background: #219653;
}

.cphai_thu::before {
    background: #F2C94C;
}

.dtra::before {
    background: #F2994A;
}

.cphai_tra::before {
    background: #EB5757;
}

#ctn_tt_three {
    width: 100%;
    float: left;
}

.tieu_de_chart {
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 57px;
}

.form_search_dmy {
    width: 188px;
    height: 36px;
}

.tieu_de_chart .tieu_de_ct {
    padding-right: 81px;
}

#tt_three_ctiet .highcharts-legend-item.highcharts-column-series {
    display: none !important;

}

.titl_chr {
    margin-bottom: 40px;
}

.titl_chr p {
    padding-left: 30px;
    position: relative;
}

.titl_chr p::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
}

.hd_mua_chr {
    margin-bottom: 15px;
}

.hd_mua_chr::before {
    background: #E09A6A;
}

.hd_ban_chr::before {
    background: #9D92C8;
}

.content_hcot {
    overflow-x: auto;
}

#tt_three_ctiet {
    min-width: 1315px;
}

.content_hcot::-webkit-scrollbar {
    height: 0;
}

.content_hcot::-webkit-scrollbar-track, .content_hcot::-webkit-scrollbar-thumb {
    background: #FFFFFF;
}

.table thead {
    background: #4C5BD4;
}


.ctn_table .table tbody {
    display: block;
    max-height: 106px;
    overflow: auto;
}

.ctn_table_ct .table tbody {
    display: block;
    max-height: 160px;
    overflow: auto;
}

.ql_sua_hs_tt .ctn_table .table tbody, .ql_sua_phieu_tt .ctn_table .table tbody {
    max-height: 400px;
}

.ctn_table .table tbody::-webkit-scrollbar, .ctn_table_ct .table tbody::-webkit-scrollbar, .ctiet_ds_nha_cc .table tbody::-webkit-scrollbar {
    width: 10px;
}

.ctn_table .table tbody::-webkit-scrollbar-track, .ctn_table_ct .table tbody::-webkit-scrollbar-track {
    background: #FAFAFA;
}

.ctn_table .table tbody::-webkit-scrollbar-thumb, .ctn_table_ct .table tbody::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 22px;
}

.ctn_table .table thead, .ctn_table .table tbody tr, .ctn_table_ct .table thead, .ctn_table_ct .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.ctn_table .table tbody tr {
    border-bottom: 0.5px solid #474747;
}

.ctn_table .table thead tr, .ctn_table_ct .table thead tr {
    display: flex;
}

.ctn_table .table thead tr th, .ctn_table_ct .table thead tr th {
    display: flex;
    justify-content: center;
    align-items: center;
}

.khoi_luong {
    padding: 16px 0px 16px 0px;
    border-bottom: 1px solid #FFFFFF;
}

.khac_ctn_vc th {
    height: 104px;
}

.table thead tr th.mass_pad {
    padding: 0;
}

.dvi_khoil .ft-pl {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dvi_khoil .ft-pl:first-child {
    border-right: 1px solid #FFFFFF;
}

/* nhan thong bao */

.tax-onoffswitch {
    position: relative;
    width: 28px;
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 11px;
    padding: 0;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "";
    background-color: #4C5BD4;
}

.onoffswitch-inner:after {
    content: "";
    background-color: #CCCCCC;
}

.onoffswitch-switch {
    display: block;
    width: 15px;
    height: 15px;
    background: #FFFFFF;
    position: absolute;
    top: -2px;
    bottom: 0;
    right: 13px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: -2px;
}

/* end */
.ctn_top_sett {
    border-bottom: 1px solid #474747;
    padding-bottom: 13px;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 28px;
}

.cai_dtl {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #474747;
    width: 198px;
    float: left;
    text-align: center;
}

.ctn_top_sett p {
    position: relative;

}

.ctn_top_sett p.active a {
    color: #4C5BD4;
}

.ctn_top_sett p.active::before {
    content: "";
    position: absolute;
    background: url(../img/gach_chan.png)no-repeat;
    width: 100%;
    height: 10px;
    top: 25px;
    left: 0;
}

.ctn_languega {
    padding-bottom: 8px;
    border-bottom: 1px solid #474747;
}

.ct_select .all_languega {
    width: 148px;
    height: 32px;
    border: 1px solid #474747;
    border-radius: 10px;
}

.quyen_nd {
    padding: 28px 20px 16px 0px;
    border-bottom: 1px solid #474747;
}

.ctn_top_tbao {
    padding: 32px 20px 0px 0px;
}

.nhac_nho .ctn_top_tbao {
    padding: 0px 20px 0px 0px;
}

.ctn_ct_tbao {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: block;
}

.ctn_ct_tbao.active {
    display: none;
}

.tbao_one {
    padding: 20px 35px;
    border-bottom: 1px dashed #CCCCCC;
}

.tbao_one:last-child {
    border-bottom: 0;
}

.dropd img, .avt_dropd {
    transform: rotate(90deg);
}

.dropd.active img, .dropd_ctiet.active .avt_dropd {
    transform: rotate(270deg);
}

.phan_quyen_nd .table {
    min-width: 988px;
}

.phan_quyen_nd .ctn_table .table tbody {
    max-height: 472px;
}

.ctn_sett .quay_lai {
    position: relative;
    float: left;
    margin-bottom: 26px;
    padding-left: 15px;
}

.ctn_sett .quay_lai::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background: url(../img/prew_href.png)no-repeat;
    width: 6px;
    height: 12px;
}

.form_search {
    width: 400px;
    float: left;
}

.form_search .search_nvpb {
    width: 100%;
    float: left;
    height: 36px;
    border: 1px solid #666666;
    border-radius: 8px;
}

.th_tilt_tb {
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 988px;
}

.phan_quyen_nd .table thead {
    background: #F1F9FC;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}

.phan_quyen_nd .table thead th {
    color: #474747;
    border-right: 1px solid #D8D8D8;
}

.phan_quyen_nd .table thead th:last-child, .phan_quyen_nd .table tbody td:last-child {
    border-right: 0;
}

.phan_quyen_nd .table thead tr {
    width: calc(100% - 10px);
}

.phan_quyen_nd .table tbody td {
    border-right: 1px solid #D8D8D8;
}

.phan_quyen_nd .table tbody td:first-child {
    text-align: left;
    padding-left: 22px;
}

.form-gr input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.phan_quyen_nd .table tbody tr.no_bor_bott {
    border-bottom: 0;
}

.thead_nhatk {
    padding-right: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.thead_nhatk p, .ctiet_nd_nhatk p {
    padding: 17px 10px 18px 10px;
}

.thead_nhatk p:first-child {
    padding-left: 25px;
}

.ctiet_nhatk {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 15px 15px;
}

.ctn_ctiet_nky .dropd_ctiet {
    width: 100%;
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 10px;
}

.ctn_ctiet_nky {
    width: 100%;
    float: left;
    border-bottom: 1px dashed #CCCCCC;
}

.ctiet_nd_nhatk {
    border-bottom: 1px dashed #CCCCCC;
}

.ctiet_nd_nhatk:last-child, .ctn_ctiet_nky:last-child {
    border-bottom: 0;
}

.dropd_ctiet {
    padding: 20px 0px 0px 25px;
}

.ctiet_nd_nhatk p:last-child {
    justify-content: left;
    align-items: flex-start;
}

.ctn_ctiet_nky.active .ctiet_nd_nhatk {
    display: none;
}

.ctn_ctiet_nky.active .avt_dropd {
    transform: rotate(270deg);
}

.list_cate_nhacc .sroll_ds_gia {
    margin: 5px 0px 10px 0px;
    overflow-y: auto;

}

.ctiet_ds_nha_cc .table tbody::-webkit-scrollbar-track {
    background: #CCCCCC;
    border-radius: 22px;
}

.ctiet_ds_nha_cc .table tbody::-webkit-scrollbar-thumb {
    background: #4C5BD4;
    border-radius: 22px;
}

.sapx_dgia {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 4px 15px;
}

.form_search_dgia {
    width: 80%;
}

.list_cate_nhacc .form_search_dgia .select2-container .select2-selection--single {
    border: 0;
}

.list_cate_nhacc .form_search_dgia .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 31px;
    color: #474747;
    font-size: 16px;
}

.list_cate_nhacc .form_search_dgia .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 2px;
    right: -27px;
}

.ctiet_ds_nha_cc .table thead, .ctiet_ds_nha_cc .table tbody, .ctiet_ds_nha_cc .table tbody tr {
    table-layout: fixed;
    width: 100%;
    display: table;
}

.ctiet_ds_nha_cc .table tbody {
    display: block;
    max-height: 250px;
    overflow: auto;
}

.ctiet_ds_nha_cc .table {
    border: 1px solid #474747;
}

.ctiet_ds_nha_cc .table thead {
    background: #EEEEEE;
}

.ctiet_ds_nha_cc .table thead th {
    color: #474747;
}

.ctiet_ds_nha_cc .table thead tr {
    border-bottom: 1px solid #474747;
}

.ctiet_ds_nha_cc .table tbody tr:first-child td {
    border-top: 0;
}

.ctiet_ds_nha_cc .table thead th:last-child, .ctiet_ds_nha_cc .table tbody td:last-child {
    width: 40%;
}

.ctiet_ds_nha_cc .table thead th:first-child, .ctiet_ds_nha_cc .table tbody td:first-child {
    border-right: 1px solid #474747;
    width: 60%;
}

.side_menu_hd, .modal_menu {
    display: none;
}

.nav-item:first-child {
    padding-left: 10px;
}

/* long sua header */
.ctiet_cty {
    display: flex;
    align-items: center;
    justify-content: left;
}

.ctiet_cty .ten_cty_nv {
    max-width: 120px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
}

.ql_chung .c-top {
    margin-top: 40px;
}

.bao_hanh {
    flex-wrap: wrap;
}

.bao_hanh input {
    margin-bottom: 5px;
}


/* end sua header */

@media screen and (max-width: 1366px) {

    /* footer */
    .contact .txt {
        padding-right: 10px;
    }

    .left_bgr_nv .bgr_img_nv img {
        height: 700px;
    }

    /* end */
    .header {
        width: calc(100% - 40px);
    }

    .content {
        width: calc(100% - 102px);
    }

    p.removeItem2 {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1024px) {

    /* footer */
    .footer {
        padding: 30px 37px;
    }

    .contact {
        width: 45%;
    }

    .contact .txt {
        width: 90%;
        float: left;
    }

    .image .p-2 p {
        width: 101%;
        float: left;
    }

    .list-li .col {
        width: 50%;
    }

    .contact .contact-prof {
        padding-right: 20px;
    }

    .image .img-rg {
        padding-left: 10px;
    }

    /* end footer */
    .side_menu_hd {
        display: block;
        float: left;
    }

    .side_menu_hd img {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side-bar {
        display: none;
        position: relative;
        overflow: unset;
    }

    .modal_menu .side-bar {
        position: relative;
    }

    .main-container .container, .header {
        width: 100%;
        float: left;
    }

    .header-container {
        background: #FFFFFF;
        position: fixed;
        z-index: 3;
        height: 56px;
        justify-content: unset;
        display: block;
        width: 100%;
        float: left;
    }

    .header {
        margin-top: 0;
        padding: 10px 20px;
    }

    .header .header-left {
        padding-left: 0px;
    }

    .modal_menu {
        display: none;
        position: fixed;
        z-index: 1;
        margin-top: 56px;
        padding-top: 0px;
        left: 0;
        top: 0;
        width: 100%;
        height: calc(100vh - 56px);
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, .4);
    }

    .modal_menu .modal-content {
        position: relative;
        margin: auto;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }

    .modal_menu .ctn_menu_mobi {
        width: 280px;
    }

    .modal_menu .side-bar {
        display: block;
    }

    .collapse ul::before {
        content: "";
        width: 2px;
        left: 34px;
        top: 50px;
        background-color: #4C5BD4;
        position: absolute;
        display: block;
        z-index: 1;
        height: 180px;
    }

    .collapse.share_height ul::before {
        height: 134px;
    }

    .content {
        width: calc(100% - 36px);
        margin-top: 56px;
    }

    .chi_tiet_hd {
        margin-top: 25px;
    }

}

@media screen and (max-width: 768px) {

    /* footer */
    .footer {
        padding: 23px 26px;
    }

    .contact .txt p, .list-li span a, .img-lf p, .footer .btn-tv a, .det {
        font-size: 9px;
        line-height: 11px;
    }

    .contact .txt .title {
        font-size: 12px;
        line-height: 14px;
    }

    .contact .icf img {
        width: 15px;
        height: 15px;
    }

    .list-li .fa img {
        width: 5px;
        height: 6px;
    }

    .image .img-rq img {
        width: 63px;
        height: 63px;
    }

    .image .btn-tv {
        width: 151px;
        height: 30px;
    }

    .image .tv, .image .tv i img {
        padding: 1px;
    }

    .contact .txt {
        width: 100%;
        padding-right: 0;
    }

    /* end */
    .titl_avt_full {
        padding: 0px 8px 0px 0px;
    }

    .titl_avt_full img {
        width: 150px;
        height: 100px;
        margin-top: 0;
    }

    .tt_left_one {
        width: calc(100% - 242px);
        padding: 26px 0px 26px 25px;
    }

    .til_fulln {
        padding: 0;
    }

    .cnt_left_tow {
        margin: auto;
        width: 484px;
    }

    .ctn_cnt_left {
        width: 100%;
        float: left;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
        border-radius: 24px;
        background: #FFFFFF;

    }

    .tt_left_tow {
        width: 100%;
        margin-bottom: 20px;
        background: unset;
        box-shadow: unset;
    }

    .tt_right_tow {
        margin-left: 0;
    }

    .chi_tiet_item {
        margin-right: 15px;
    }

    .them_moi, .add_hopd, .main-container {
        width: 100%;
    }

    .ql_chung .search-box {
        margin-right: 0;
    }

    .category, .search-box {
        width: 48%;
    }

    .filter1 .form_tkiem {
        width: 100%;
        float: left;
    }

    .add_hopd {
        text-align: right;
        display: flex;
        justify-content: right;
    }

    .share_distance .form-row .form-group {
        width: 46%;
    }

    .bao_hanh {
        flex-wrap: wrap;
    }

    .bao_hanh input {
        margin-bottom: 5px;
    }

    .bao_hanh input[type="date"] {
        padding: 9px 0px 9px 9px;
    }

    .bao_hanh .gia_tri {
        width: 148px;
    }

    .all_hopd {
        text-align: left;
    }

    .stk_xd {
        word-wrap: break-word;
    }

}

@media(max-width: 759px) {
    .ctiet_cty {
        display: none;
    }
}

@media(max-width: 564px) {
    h5.user-name {
        display: none;
    }

    .nav-avatar .mobi_showd {
        position: relative;
    }

    .nav-avatar .mobi_showd::before {
        content: "";
        position: absolute;
        right: -20px;
        top: -4px;
        background: url(../img/prew_href.png)no-repeat;
        width: 6px;
        height: 12px;
        transform: rotate(270deg);
    }

    .nav-item:last-child {
        padding-right: 0;
    }
}

@media(max-width: 543px) {
    .cnt_left_tow, .m-content, .modal_share .modal-content {
        width: 90%;
    }

    .ctiet_pop p {
        text-align: left;
        padding: 0px 27px;
    }

    .m-body {
        padding: 20px 39px 0px 39px;
        text-align: left;
    }

    .m-foot {
        padding: 0px 20px;
        margin-bottom: 12px;
    }

    .madal_form {
        padding: 25px 12px;
    }

    .form_butt_ht {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {

    /* footer */
    .contact, .det .det-ic p, .det .det-ic .link-logo, .det .det-ic {
        width: 100%;
        padding-right: 0;
    }

    .contact .txt {
        border-bottom: 1px dashed #FFFFFF;
    }

    .contact .txt p, .list-li span a, .det .font-weight-bold, .det .det-link a, .det-ic p {
        font-size: 16px;
        line-height: 19px;
    }

    .contact .txt .title {
        font-size: 20px;
        line-height: 23px;
    }

    .contact .icf img {
        width: 26px;
        height: 26px;
    }

    .contact .list-li .col .boder-img, .footer .img-lf, .footer .image {
        display: none;
    }

    .list-li {
        border-bottom: 0;
    }

    .footer .list-li-tl, .det-ic, .det .det-link {
        display: block;
    }

    .list-li-tl .btn-tv {
        width: 211px;
        border-radius: 100px;
        margin-bottom: 19px;
    }

    .footer .btn-tv a, .contact .txt-dc .coweb {
        font-size: 14px;
        line-height: 16px;
    }

    .footer .btn-tv a {
        padding: 4px 4px;
        display: flex;
        align-items: center;
    }

    .footer .btn-tv a img {
        padding-right: 5px;
    }

    .list-li-tl .frame {
        width: 62%;
        float: left;
    }

    .list-li-tl .img-phone-mb {
        width: 36%;
        float: right;
        text-align: right;
        padding-left: 5px;
    }

    .footer {
        padding: 23px 16px;
    }

    .list-li-tl .boder-img {
        display: flex;
        justify-content: start;
        margin-bottom: 20px;
    }

    .img-phone-mb img {
        width: 90%;
    }

    .det .det-link {
        border-bottom: 1px dashed #FFFFFF;
    }

    .det .det-ic, .det-ic p, .det-ic .link-logo {
        float: left;
    }

    .second .txt-dc, .third .txt-dc {
        padding-top: 5px;
    }

    .list-li .fa img {
        width: 10px;
        height: 12px;
    }

    .footer p, .det .font-weight-bold, .footer .prod_titl a {
        margin-bottom: 10px;
    }

    .list-li .col:first-child {
        padding-right: 10px;
    }

    /* end */
    .content {
        width: calc(100% - 40px);
    }

    .ql_trangchu_s .ctt_tt_one {
        display: block;
    }

    .titl_avt_full, .ctiet_cty, h5.user-name {
        display: none;
    }

    .tt_left_one, .tt_right_one {
        width: 100%;
        float: left;
        margin-bottom: 20px;
    }

    .tt_left_one {
        padding: 25px 17px;
    }

    .ql_trangchu_s .cnt_left_tow, .v-select2, .ql_chung .filter1 .category, .ql_chung .filter1 .search-box {
        width: 100%;
    }

    .side_menu_hd, .category, .ql_chung .filter1 .category {
        margin-right: 0;
    }

    .nav-item {
        padding: 0px 20px;
    }

    .nav-avatar {
        padding: 0px;
    }

    .tieu_de_chart .tieu_de_ct {
        padding-right: 0;
    }

    .nav-item .badge {
        top: -2px;
        right: 9px;
    }

    .tieu_de_ct {
        padding-right: 20px;
    }

    .filter2 .filter-container {
        margin-right: 10px;
    }

    .filter2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .chi_tiet_item {
        line-height: 13px;
    }

    .logout_ht .modal-content, .m-content {
        width: 90%;
    }

    /* long */
    .form-col-50, .ctiet_hd_right, .xuat_gmc_two {
        float: left;
        width: 100%;
    }

    .ctiet_hd_left p:nth-child(2), .ctiet_hd_right p:nth-child(2) {
        text-align: left;
        width: 100%;
    }

    .form-col-50 p, .share_distance .form-row .form-group, .ctiet_hd_left, .ten_ctiet {
        width: 100%;
    }

    .share_distance .form-row {
        display: block;
    }

    .m-foot {
        padding: 0 12px;
    }

    .form-col-50 p {
        text-align: left;
    }

    .form-col-50 p:first-child, .ten_ctiet {
        margin-bottom: 8px;
    }

    .form-row {
        border-top: 0;
    }

    .share_res_ct .form-control .form-row, .share_res_ct .form-col-50, .chitiet_hd {
        margin-bottom: 0;
    }

    .share_res_ct .form-col-50 {
        border-bottom: 1px solid #666666;
        padding-bottom: 12px;
    }

    .share_res_ct .form-row .form-col-50:nth-child(2), .ctiet_hd_right {
        padding-right: 0;
        padding-left: 10px;
    }

    .share_res_ct .form-control .form-row:last-child .form-col-50, .chitiet_hd, .chitiet_hd:last-child .ctiet_hd_left, .ql_ctiet_hd_vc .chitiet_hd:last-child .ctiet_hd_right {
        border-bottom: 0;
    }

    .xoa_csua {
        float: left;
    }

    .pagination li {
        margin: 0px 5px;
    }

    .ql_chung .c-top {
        margin-top: 15px;
    }

    .all_hopd {
        width: 300px;
    }

    .tow_butt_flex {
        justify-content: space-around;
    }

    .ctiet_hd_left, .ctiet_hd_right {
        border-bottom: 0.5px solid rgba(102, 102, 102, 0.24);
        padding-bottom: 12px;
        padding-top: 10px;
    }

    .chitiet_hd {
        padding-bottom: 0;
    }

    .ctiet_hd_left p:nth-child(2) {
        margin: 0;
    }

    .ql_ctiet_hd_vc .chitiet_hd:last-child .ctiet_hd_left {
        border-bottom: 0.5px solid rgba(102, 102, 102, 0.24);
    }
}