RewriteEngine on
RewriteBase /

order deny,allow
deny from all
allow from 14.162.144.184
allow from 118.70.126.231
allow from 27.3.179.20
allow from 123.24.206.25
allow from 43.239.223.157
allow from 43.239.223.187
allow from 43.239.223.60
allow from 210.245.75.51
allow from 14.248.82.205
allow from 118.70.126.138
allow from 14.232.208.241

allow from 123.24.142.145

RewriteRule  ^$ home/index.php
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

<IfModule mod_rewrite.c>
    #RewriteEngine On
    #RewriteCond %{HTTPS} off
    #RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    #RewriteCond %{HTTP_HOST} www\.(.+)$ [NC]
    #RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]
</IfModule>

#page hướng dẫn
RewriteRule ^huong-dan.html$ /home/home_hd.php [NE,L]

RewriteRule ^dang-xuat.html$ /home/logout.php [NE,L]

RewriteRule ^quan-ly-trang-chu.html$ /home/ql_trangchu.php [NE,L]
# quản lý hợp đồng
RewriteRule ^quan-ly-hop-dong.html$ /home/ql_hop_dong.php [NE,L]

RewriteRule ^quan-ly-chi-tiet-hop-dong-mua.html$ /home/ql_ct_hopd_mua.php [NE,L]
RewriteRule ^them-hop-dong-mua.html$ /home/ql_them_hd_mua.php [NE,L]
RewriteRule ^chinh-sua-hop-dong-mua.html$ /home/ql_sua_hd_mua.php [NE,L]

RewriteRule ^quan-ly-chi-tiet-hop-dong-ban.html$ /home/ql_ct_hopd_ban.php [NE,L]
RewriteRule ^them-hop-dong-ban.html$ /home/ql_them_hd_ban.php [NE,L]
RewriteRule ^chinh-sua-hop-dong-ban.html$ /home/ql_sua_hd_ban.php [NE,L]

RewriteRule ^quan-ly-chi-tiet-hop-dong-thue-thiet-bi.html$ /home/ql_ct_hopd_thue.php [NE,L]
RewriteRule ^them-hop-dong-thue-thiet-bi.html$ /home/ql_them_hd_thue.php [NE,L]
RewriteRule ^chinh-sua-hop-dong-thue-thiet-bi.html$ /home/ql_sua_hd_thue.php [NE,L]

RewriteRule ^quan-ly-chi-tiet-hop-dong-van-chuyen.html$ /home/ql_ct_hopd_vc.php [NE,L]
RewriteRule ^them-hop-dong-van-chuyen.html$ /home/ql_them_hd_vc.php [NE,L]
RewriteRule ^chinh-sua-hop-dong-van-chuyen.html$ /home/ql_sua_hd_vc.php [NE,L]

# quản lý đơn hàng
RewriteRule ^quan-ly-don-hang.html$ /home/ql_don_hang.php [NE,L]

RewriteRule ^chi-tiet-don-hang-ban.html$ /home/ql_ct_dh_ban.php [NE,L]
RewriteRule ^them-don-hang-ban.html$ /home/ql_them_dh_ban.php [NE,L]
RewriteRule ^chinh-sua-don-hang-ban.html$ /home/ql_sua_dh_ban.php [NE,L]

RewriteRule ^chi-tiet-don-hang-mua.html$ /home/ql_ct_dh_mua.php [NE,L]
RewriteRule ^them-don-hang-mua.html$ /home/ql_them_dh_mua.php [NE,L]
RewriteRule ^chinh-sua-don-hang-mua.html$ /home/ql_sua_dh_mua.php [NE,L]

# quản lý hồ sơ thanh toán
RewriteRule ^quan-ly-ho-so-thanh-toan.html$ /home/ql_ho_so_tt.php [NE,L]
RewriteRule ^chi-tiet-ho-so-thanh-toan.html$ /home/ql_ct_hs_tt.php [NE,L]
RewriteRule ^them-ho-so-thanh-toan.html$ /home/ql_them_hs_tt.php [NE,L]
RewriteRule ^chinh-sua-ho-so-thanh-toan.html$ /home/ql_sua_hs_tt.php [NE,L]

# quản lý phiếu thanh toán
RewriteRule ^quan-ly-phieu-thanh-toan.html$ /home/ql_phieu_tt.php [NE,L]
RewriteRule ^chi-tiet-phieu-thanh-toan.html$ /home/ql_ct_phieu_tt.php [NE,L]
RewriteRule ^chi-tiet-phieu-thanh-toan-tam-ung.html$ /home/ql_ct_phieu_tt_tu.php [NE,L]
RewriteRule ^them-phieu-thanh-toan.html$ /home/ql_them_phieu_tt.php [NE,L]
RewriteRule ^chinh-sua-phieu-thanh-toan.html$ /home/ql_sua_phieu_tt.php [NE,L]

# quản lý vật tư
RewriteRule ^quan-ly-yeu-cau-vat-tu.html$ /home/quan-ly-vat-tu.php [NE,L]
RewriteRule ^quan-ly-chi-tiet-yeu-cau-vat-tu.html$ /home/chi-tiet-yeu-cau-vat-tu.php [NE,L]
RewriteRule ^chinh-sua-yeu-cau-vat-tu.html$ /home/chinh-sua-yeu-cau-vat-tu.php [NE,L]
RewriteRule ^them-yeu-cau-vat-tu.html$ /home/them-yeu-cau-vat-tu.php [NE,L]
RewriteRule ^duyet-yeu-cau-vat-tu.html$ /home/duyet-yc-vt.php [NE,L]

# quản lý cài đặt quản lý
RewriteRule ^quan-ly-cai-dat.html$ /home/ql_setting_ql.php [NE,L]
RewriteRule ^cai-dat-phan-quyen.html$ /home/ql_phan_quyen.php [NE,L]
RewriteRule ^nhat-ky-hoat-dong.html$ /home/ql_nhatky.php [NE,L]

RewriteRule ^quan-ly-cai-dat-nhan-vien.html$ /home/ql_setting_nv.php [NE,L]
RewriteRule ^nhat-ky-hoat-dong-nhan-vien.html$ /home/ql_nhatky_nv.php [NE,L]

# quản lý cài đặt nhân viên
RewriteRule ^quan-ly-cai-dat-nhan-vien.html$ /home/ql_setting_nv.php [NE,L]
RewriteRule ^nhat-ky-hoat-dong-nhan-vien.html$ /home/ql_nhatky_nv.php [NE,L]

# quản lý khách hàng
RewriteRule ^quan-ly-khach-hang.html$ /home/kh-index.php [NE,L]
RewriteRule ^quan-ly-chi-tiet-khach-hang-([0-9]+).html$ /home/kh-details.php?id=$1 [NE,L]
RewriteRule ^them-khach-hang.html$ /home/kh-create.php [NE,L]
RewriteRule ^chinh-sua-khach-hang-([0-9]+).html$ /home/kh-edit.php?id=$1 [NE,L]

# quản lý nhà cung cấp
RewriteRule ^quan-ly-nha-cung-cap.html$ /home/ncc-index.php [NE,L]
RewriteRule ^quan-ly-chi-tiet-nha-cung-cap-([0-9]+).html$ /home/ncc-details.php?id=$1 [NE,L]
RewriteRule ^them-nha-cung-cap.html$ /home/ncc-create.php [NE,L]
RewriteRule ^chinh-sua-nha-cung-cap-([0-9]+).html$ /home/ncc-edit.php?id=$1 [NE,L]

# đánh giá nhà cung cấp
RewriteRule ^danh-gia-nha-cung-cap.html$ /home/ncc-rating-index.php [NE,L]
RewriteRule ^chi-tiet-danh-gia-nha-cung-cap-([0-9]+).html$ /home/ncc-rating-details.php?id=$1 [NE,L]
RewriteRule ^them-danh-gia-nha-cung-cap.html$ /home/ncc-rating-create.php [NE,L]
RewriteRule ^chinh-sua-danh-gia-nha-cung-cap-([0-9]+).html$ /home/ncc-rating-edit.php?id=$1 [NE,L]

# tieu chi danh gia
RewriteRule ^tieu-chi-danh-gia.html$ /home/rating-rules-index.php [NE,L]
RewriteRule ^them-tieu-chi-danh-gia.html$ /home/rating-rules-create.php [NE,L]
RewriteRule ^chinh-sua-tieu-chi-danh-gia-([0-9]+).html$ /home/rating-rules-edit.php?id=$1 [NE,L]

# báo cáo
RewriteRule ^bao-cao-doanh-so-ban-hang.html$ /home/bc-doanh-so.php [NE,L]
RewriteRule ^bao-cao-cong-no-phai-thu.html$ /home/bc-cong-no-phai-thu.php [NE,L]
RewriteRule ^bao-cao-cong-no-phai-tra.html$ /home/bc-cong-no-phai-tra.php [NE,L]

# bảng giá
RewriteRule ^quan-ly-bang-gia.html$ /home/bg-bang-gia.php [NE,L]

RewriteRule ^quan-ly-yeu-cau-bao-gia.html$ /home/bg-yeu-cau.php [NE,L]
RewriteRule ^chi-tiet-yeu-cau-bao-gia.html$ /home/bg-chi-tiet-yc.php [NE,L]
RewriteRule ^them-yeu-cau-bao-gia.html$ /home/bg-them-yc.php [NE,L]
RewriteRule ^chinh-sua-yeu-cau-bao-gia.html$ /home/bg-sua-yc.php [NE,L]

RewriteRule ^quan-ly-bao-gia.html$ /home/bg-index.php [NE,L]
RewriteRule ^chi-tiet-bao-gia.html$ /home/bg-details.php [NE,L]
RewriteRule ^them-bao-gia.html$ /home/bg-create.php [NE,L]
RewriteRule ^chinh-sua-bao-gia.html$ /home/bg-edit.php [NE,L]

RewriteRule ^quan-ly-bao-gia-cho-khach-hang.html$ /home/bg-kh-index.php [NE,L]
RewriteRule ^chi-tiet-bao-gia-cho-khach-hang.html$ /home/bg-kh-details.php [NE,L]
RewriteRule ^them-bao-gia-cho-khach-hang.html$ /home/bg-kh-create.php [NE,L]
RewriteRule ^chinh-sua-bao-gia-cho-khach-hang.html$ /home/bg-kh-edit.php [NE,L]